<div class="container">
  <nav class="navbar">
    <img class=navbar__logo" src="images/logo.svg" alt="" />
    <ul class="navbar__links">
      <li class="link"><a href="#">Pricing</a></li>
      <li class="link"><a href="#">Product</a></li>
      <li class="link"><a href="#">About Us</a></li>
      <li class="link"><a href="#">Careers</a></li>
      <li class="link"><a href="#">Community</a></li>
    </ul>
    <img class="navbar__menu" src="images/icon-hamburger.svg" alt="" />
    <a href="#" class="btn">Get Started</a>
  </nav>
</div>
