<div class="testimonials">
  <div class="card testimonial card-one">
    <div class="grid grid--1x2">
      <img class="testimonial__image" src="images/avatar-ali.png" alt="" />
      <blockquote class="quote">
        <h3 class="user">Anisha Li</h3>
        <p class="quote__text">
          "Manage has supercharged our team's workflow. The ability to maintain
          visibility on larger milestones at all times keeps everyone
          motivated."
        </p>
      </blockquote>
    </div>
  </div>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <img class="testimonial__image" src="images/avatar-ali.png" alt="" />
      <blockquote class="quote">
        <h3 class="user">Ali Bravo</h3>
        <p class="quote__text">
          "We have been able to cancel so many other subscriptions using Manage.
          There is no more cross-channel confusion and everyone is much more
          focused."
        </p>
      </blockquote>
    </div>
  </div>
  <div class="card testimonial card-three">
    <div class="grid grid--1x2">
      <img class="testimonial__image" src="images/avatar-ali.png" alt="" />
      <blockquote class="quote">
        <h3 class="user">Richard Watts</h3>
        <p class="quote__text">
          "Manage allows us to provide structure and process. It keeps us
          organized and focused. I can't stop recommending them to everyone I
          talk to!"
        </p>
      </blockquote>
    </div>
  </div>
</div>
