<section class="block grid grid--1x2 block-one">
    <header class="block__header"">
      <h2 class="block__heading">What's different about Manage?</h2>
      <p class="block__body">
        Manage provides all the functionality your team needs, without the
        complexity. Our software is tailor-made for modern digital product
        teams.
      </p>
    </header>
    <div>
      <article class="feature">
        <div class="feature__content flex">
          <button class="btn btn--small">01</button>
          <h3 class="feature__heading">Track company-wide progress</h3>
        </div>
        <p class="feature__body">
          See how your day-to-day tasks fit into the wider vision. Go from
          tracking progress at the milestone level all the way done to the
          smallest of details. Never lose sight of the bigger picture again
        </p>
      </article>
      <article class="feature">
        <div class="feature__content flex">
          <button class="btn btn--small">02</button>
          <h3 class="feature__heading">Advanced built-in reports</h3>
        </div>
        <p class="feature__body">
          Set internal delivery estimates and track progress toward company
          goals. Our customisable dashboard helps you build out the reports
          you need to keep stakeholders informed.
        </p>
      </article>
      <article class="feature">
        <div class="feature__content flex">
          <button class="btn btn--small">03</button>
          <h3 class="feature__heading">Everything you need in one place</h3>
        </div>
        <p class="feature__body">
          Stop jumping from one service to another to communicate, store
          files, track tasks and share documents. Manage offers an all-in-one
          team productivity solution.
        </p>
      </article>
    </div>
  </section>
  
  <div class="container">
    <section class="block grid grid--1x2 block-two">
      <header class="block__header"">
        <h2 class="block__heading">What's different about Manage?</h2>
        <p class="block__body">
          Manage provides all the functionality your team needs, without the
          complexity. Our software is tailor-made for modern digital product
          teams.
        </p>
      </header>
      <div>
        <article class="feature">
          <div class="feature__content flex">
            <button class="btn btn--small">01</button>
            <h3 class="feature__heading">Track company-wide progress</h3>
          </div>
          <p class="feature__body">
            See how your day-to-day tasks fit into the wider vision. Go from
            tracking progress at the milestone level all the way done to the
            smallest of details. Never lose sight of the bigger picture again
          </p>
        </article>
        <article class="feature">
          <div class="feature__content flex">
            <button class="btn btn--small">02</button>
            <h3 class="feature__heading">Advanced built-in reports</h3>
          </div>
          <p class="feature__body">
            Set internal delivery estimates and track progress toward company
            goals. Our customisable dashboard helps you build out the reports
            you need to keep stakeholders informed.
          </p>
        </article>
        <article class="feature">
          <div class="feature__content flex">
            <button class="btn btn--small">03</button>
            <h3 class="feature__heading">Everything you need in one place</h3>
          </div>
          <p class="feature__body">
            Stop jumping from one services to another to communicate, store
            files, track tasks and share documents. Manage offers an all-in-one
            team productivity solution.
          </p>
        </article>
      </div>
    </section>
  </div>